@{
    ViewBag.Title = "About";
}
    <div class="card bg-dark">
        <h1 class="d-block p-1 text-primary text-center bg-dark">¡Bienvenido a nuestra página!</h1>
        <h3 class="d-block p-1 text-body text-center bg-white">
            Somos una empresa dedicada 100% a los animales,
            contamos con diversos servicios para tu mascota, sigue navegando para que puedas enterarte de lo que ofrecemos.
        </h3>
        <img src="~/Content/img/pet-4942796_1920.jpg" class="card-img" alt="...">
    </div>

    <section class=" page-section bg-primary text-white" id="about">
        <div class="container">
            <h1 class="masthead-heading text-uppercase text-center">Sobre nosotros <br /></h1>
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead text-justify">
                        Nuestra visión: Ofrecer y realizar servicios veterinarios de gran calidad y alto nivel técnico y científico, dirigidos a nuestros clientes y a sus mascotas para satisfacer con excelencia sus necesidades.<br />
                    </p>
                </div>
                <div class="col-lg-4 mr-auto"><p class="lead text-justify"> Nuestra misión: La calidad en la atención que ofrecemos a nuestros pacientes y la búsqueda de mejoras en el tratamiento y prevención de la salud.</p></div>
            </div>

            <div class="row justify-content-center m-4">
                <div class="col-md-5">
                    <div class="card mb-5">
                        <div class="card-header bg-danger">
                            <h5 class="text-white text-center">Contamos con estética para perros y gatos de todos los tamaños.</h5>
                        </div>
                        <div class="card-body">
                            <img class="d-block w-100" src="~/Content/img/pets-3715733_1920.jpg" alt="">
                        </div>
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="card mb-5">
                        <div class="card-header bg-danger">
                            <h5 class="text-white text-center">Podemos recoger a tu mascota y regresarla al lugar indicado. </h5>
                        </div>
                        <div class="card-body">
                            <img class="d-block w-100" src="~/Content/img/easter-349026_1920.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center m-4">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header bg-danger">
                            <h5 class="text-white text-center">Servicio médico veterinario a domicilio.</h5>
                        </div>
                        <div class="card-body">
                            <img class="d-block w-100" src="~/Content/img/horse-1201143_1920.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header bg-danger">
                            <h5 class="text-white text-center">Empresa certificada para poder atender a tu mascota.</h5>
                        </div>
                        <div class="card-body">
                            <img class="d-block w-100" src="~/Content/img/dog-91765_1920.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-header bg-danger">
                            <h5 class="text-white text-center">La mejor atención y consultas personalizadas.</h5>
                        </div>
                        <div class="card-body">
                            <img class="d-block w-100" src="~/Content/img/hare-4375952_1280.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            </div>
</section>

  

