@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="bg-info">
        <h1 class="text-center">BIENVENIDO A TU PERFIL</h1>
        <p class="lead text-center justify-content-center">Gracias por unirte a nosotros. Por este medio podras lograr ingresar a cada una de tus mascotas que desees. Podras disfrutar de diversos regalos por confiar en nosotros.</p>
    </div>

    <div class="row justify-content-center m-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-danger">
                    <h5 class="text-white text-center">Servicio médico veterinario a domicilio.</h5>
                </div>
                <div class="card-body">
                    <img class="d-block w-100" src="~/Content/img/puppy-1903313_1920.jpg" alt="">
                    <p class="text-justify">También podemos dar un paso de 10-15 minutos antes de entregarte a tu mascota</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-danger">
                    <h5 class="text-white text-center">Empresa certificada para poder atender a tu mascota.</h5>
                </div>
                <div class="card-body">
                    <img class="d-block w-100" src="~/Content/img/dog-91765_1920.jpg" alt="">
                    <p class="text-justify">¡Así es! Somos una empresa certificada y contamos con más de 10 años de experencia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header bg-danger">
                    <h5 class="text-white text-center">La mejor atención y consultas personalizadas.</h5>
                </div>
                <div class="card-body">
                    <img class="d-block w-100" src="~/Content/img/hare-4375952_1280.jpg" alt="">
                    <p class="text-justify">Personal 100% calificado, además por tener la mejor atención por cuidar y consentir a tus mascotas.</p>
                </div>
            </div>
        </div>
    </div>
</div>


