@model IEnumerable<Veterinaria.Web.Models.Pet>

@{
    ViewBag.Title = "Index";
}
<div class="row justify-content-center m-3">
    <h5 class="m-0 text-dark"> Mis Mascotas</h5>

</div>
<p class="m-4">
    <a href="@Url.Action("Create","Pets")" class="btn btn-primary btn-sm btn-icon-split">
        <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
        <span class="text">Agregar Mascota</span>
    </a>
</p>
<div class="row justify-content-center m-3">
    @foreach (var item in Model)
    {
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="@Url.Action("Details","Pets", new { id = item.Id })">

            <div class="card border-left-primary shadow h-100 py-2 bg-dark">
                <div class="card-body bg-primary">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs  text-white text-uppercase mb-1">@item.Name</div>
                            <div class="h5 mb-0 font-weight-bold text-white">@item.PetType</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-paw fa-2x text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
    }

</div>



